<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>搜尋結果</title>
    <!-- 屏幕宽度大于 500 加载 PC 版 CSS -->
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 500px)"
          href="/static/css/detail_pc.css">
    <!-- 屏幕宽度小于 500 加载 手机版 CSS -->
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 500px)"
          href="/static/css/detail_mobile.css">
    <script type="text/javascript" src="/static/js/action.js"></script>
</head>
<body>
<div class="div0">
    <select class="select0" onchange=mbar(this)>
        <option value="{% url 'potato:search' %}?location={{ location }}&lang=lang_en&q={{ q }}&page={{ page }}&action={{ action }}">
            English
        </option>
        <option value="{% url 'potato:search' %}?location={{ location }}&lang=lang_zh-CN&q={{ q }}&page={{ page }}&action={{ action }}">
            中文(简体)
        </option>
        <option selected
                value="{% url 'potato:search' %}?location={{ location }}&lang=lang_zh-TW&q={{ q }}&page={{ page }}&action={{ action }}">
            中文(繁體)
        </option>
    </select>
</div>
<div class="div1">
    <a class="a_img" href="{% url 'potato:index' %}?location={{ location }}&lang={{ lang }}">
        <img src="/static/detail.jpg" alt="" class="img_potato">
    </a>
    <form name="form1" action="/search/" method="get" class="form1" onsubmit="return required()">
        <input type="hidden" name="location" value="{{ location }}">
        <input type="hidden" name="lang" value="{{ lang }}">
        <input type="text" name="q" value="{{ q }}" class="search-text" id="input1"/>
        &nbsp;
        {% if action == 'search' %}
            <input type="submit" name="action" class="search-sub" value="搜尋"/>
        {% else %}
            <input type="submit" name="action" class="search-sub" value="找書"/>
        {% endif %}
    </form>
</div>
<ul class="ul1">
    {% if results %}
        {% if page == 1 %}
            <small class="small_info">約有 {{ results }} 項結果 (搜尋時間: {{ time }} 秒)</small>
            {% if book %}
                <small class="small_url"><i><a class="a1" href="http://gen.lib.rus.ec/search.php?req={{ q }}">Search for
                    Library
                    Genesis</a></i></small>
            {% endif %}
        {% else %}
            <small class="small_info">共約 {{ results }} 項結果, 這是第 {{ page }} 頁 (搜尋時間: {{ time }} 秒)</small>
        {% endif %}
    {% endif %}
    <br>
    <br>
    {% if title and page == 1 %}
        <div class="div_info">
            <h4>{{ title }}</h4>
            <small>{{ text }}<a href="https://zh.wikipedia.org/zh-cn/{{ title }}">維基百科</a></small>
        </div>
        <br>
    {% endif %}
    {% for x, y, z in content %}
        <li class="li1">
            <a class="a3" href="{{ y }}">{{ x }}</a>
            <br>
            <small>
                <span class="span5">
                    <a class="a_info" href="{{ y }}">{{ y }}</a>
                </span>
                <select class="select1" name="select" id="select" onchange=mbar(this)>
                    <option selected></option>
                    <option value="{{ proxy }}https://webcache.googleusercontent.com/search?q=cache:{{ y }}">頁庫存檔
                    </option>
                </select>
                <span class="span6"><a href="{{ proxy }}{{ y }}">Anonymous View</a></span>
                <br>
                <span class="span1">
                    {{ z | safe }}
                </span>
            </small>
        </li>
        <br>
    {% empty %}
        <li class="li2">找不到符合搜尋字詞 「<span class="span2">{{ q }}</span>」 的文件。</li>
        <br>
        建議:
        <br>
        <ul>
            <li class="li3">請檢查有無錯別字。</li>
            <li class="li4">試試以其他關鍵字搜尋</li>
            <li class="li5">試試以較籠統的關鍵字搜尋。</li>
            <li class="li5">試試以較少的關鍵字搜尋。</li>
        </ul>
        <div style="position: fixed; bottom: 20px; width: 50%;">
            <hr>
            🌎&nbsp;
            <small>
                {% if ip %}
                    {{ address }}
                    <span class="span3"> - 根據你的 IP 位址 - <a class="a_lon"
                                                           href="https://www.ipip.net/ip.html">{{ ip }}</a> - <a
                            href="?location=off&lang={{ lang }}&q={{ q }}&page={{ page }}&action={{ action }}">關閉定位</a></span>
                {% else %}
                    無法取得位置資訊
                    <span class="span4"> - 定位功能被關閉 - <a class="a_loff"
                                                        href="?location=on&lang={{ lang }}&q={{ q }}&page={{ page }}&action={{ action }}">開啓定位</a></span>
                {% endif %}
            </small>
        </div>
    {% endfor %}
    <br>
    {% if not empty %}
        <div class="div_page">
            {% if page != 1 %}
                <a class="a_up" href="?location={{ location }}&lang={{ lang }}&q={{ q }}&page={{ page|add:-1 }}&action={{ action }}">上一頁</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
            {% for page_number in  pages %}
                {%  if page_number == page %}
                    <span class="select_page">{{ page_number }}</span>
                    &nbsp;
                {% else %}
                    <a class="a_page"
                       href="?location={{ location }}&lang={{ lang }}&q={{ q }}&page={{ page_number }}&action={{ action }}">{{ page_number }}</a>
                    &nbsp;
                {% endif %}
            {% endfor %}
            {% if page != pages|last %}
                &nbsp;&nbsp;&nbsp;<a class="a_down" href="?location={{ location }}&lang={{ lang }}&q={{ q }}&page={{ page|add:1 }}&action={{ action }}">下一頁</a>
            {% endif %}
            <br>
            <br>
            <small class="small_know">
                Q: What is a programmer's favourite hangout place?<br>
                A: Foo Bar
            </small>
        </div>
        <br>
        <div>
            <hr>
            🌎&nbsp;
            <small>
                {% if ip %}
                    {{ address }}
                    <span class="span3"> - 根據你的 IP 位址 - <a class="a_lon"
                                                           href="https://www.ipip.net/ip.html">{{ ip }}</a> - <a
                            href="?location=off&lang={{ lang }}&q={{ q }}&page={{ page }}&action={{ action }}">關閉定位</a></span>
                {% else %}
                    無法取得位置資訊
                    <span class="span4"> - 定位功能被關閉 - <a class="a_loff"
                                                        href="?location=on&lang={{ lang }}&q={{ q }}&page={{ page }}&action={{ action }}">開啓定位</a></span>
                {% endif %}
            </small>
        </div>
    {% endif %}
</ul>
</body>
</html>
