<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/favicon.png" type="image/x-icon">
    <title>Doc</title>
    <link rel="stylesheet" type="text/css" href="/static/css/doc.css">
</head>
<body>
{% if lang == 'en' %}
    <button class="btn1" id="btn1"
            onclick="window.location.href='{% url 'potato:index' %}?location={{ location }}&lang={{ lang }}'">Homepage
    </button>
{% else %}
    <button class="btn1" id="btn1"
            onclick="window.location.href='{% url 'potato:index' %}?location={{ location }}&lang={{ lang }}'">返回主页
    </button>
{% endif %}
<br>
{% if lang == 'lang_en'  %}
    <div class="div_code">
        <br><br><br><br><br><br><br><br>
        Talk is cheap. Show me the code.
        <br><br><br><br><br><br><br><br><br><br>
    </div>
{% else %}
    <div class="div_doc">
        <h2>文档</h2>
        <p>
            谷歌搜索 API:<br>
            调用方式: /api/search/?q={0}&page={1}&key={2}<br>
            {0} 替换为查询字符, 类型为 str<br>
            {1} 替换为页数(默认每页10条数据), 类型为 int<br>
            {2} [可选参数] 替换为自己的 API KEY, 类型为 str<br>
            例: <a href="/api/search/?q=python&page=1">/api/search/?q=python&page=1</a><br>
            403 表示今日请求次数已用尽, 请换用其他 API KEY<br>
            400 表示 API KEY 错误
        </p>

        <p>
            书籍搜索 API:<br>
            调用方式: /api/book/?q={0}&page={1}&key={2}<br>
            {0} 替换为查询字符, 类型为 str<br>
            {1} 替换为页数(默认每页10条数据), 类型为 int<br>
            {2} [可选参数] 替换为自己的 API KEY, 类型为 str<br>
            例: <a href="/api/book/?q=python&page=1">/api/book/?q=python&page=1</a><br>
            403 表示今日请求次数已用尽, 请换用其他 API KEY<br>
            400 表示 API KEY 错误
        </p>

        <p>
            IP 查询 API:<br>
            调用方式: /api/ip/<br>
            例: <a href="/api/ip/">/api/ip</a>
        </p>

        <p>
            维基百科 API:<br>
            调用方式: /api/wiki/?q={0}<br>
            {0} 替换为词条, 类型为 str<br>
            例: <a href="/api/wiki/?q=上海">/api/wiki/?q=上海</a><br>
        </p>


        <p>
            工具:<br>
            <button class="btn2" onclick="window.location.href='?location={{ location }}&lang={{ lang }}&status=1'">
                检测网站可用性
            </button>
            <br>
            {% for title, url, check in content %}
                {{ title }}: <a href="{{ url }}">{{ url }}</a>
                {% if check == 1 %}
                    <span class="span_ok">可用</span>
                {% elif check == 0 %}
                    <span class="span_not_ok">不可用</span>
                {% else %}
                    <span class="span_uncheck">未检测</span>
                {% endif %}
                <br>
            {% endfor %}
            v2rayN: <a href="/static/v2rayN.7z">本地下载</a>
        </p>
    </div>
{% endif %}
</body>
</html>