<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/potato.png" type="image/x-icon">
    <title>Error</title>
    <style>
        a:link {
            text-decoration: none;
            color: blue
        }

        .food {
            text-align: center;
        }

        .img {
            width: 25%;
        }

    </style>
</head>
<body>
<a href="{% url 'potato:index' %}">返回首页</a>
<br>
<br>
<br>
<div class="food">
    <h2>Custom Search 拒绝响应(403).</h2>
    <p>
        很抱歉, 今日请求配额 {{ count }} 已用尽, 请尝试等待 {{ hour }} 小时 {{ minute }} 分 后再试.
        <br>
        您可以前往 <a href="https://github.com/justsweetpotato/search-book-heroku/issues">此页面</a> 报告本次错误, 感谢您的反馈.
    </p>
    <br>
    <img class="img" src="/static/error.jpg" alt="">
</div>
</body>
</html>