<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>土豆搜索</title>
    <!-- 屏幕宽度大于 500 加载 PC 版 CSS -->
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width: 500px)"
          href="/static/css/index_pc.css">
    <!-- 屏幕宽度小于 500 加载 手机版 CSS -->
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 500px)"
          href="/static/css/index_mobile.css">
    <script type="text/javascript" src="/static/js/action.js"></script>
</head>
<body>
<div class="div_app">
    <span class="div_app_span">
        Apps
    </span>
    <div class="div_app_link">
        <a class="div_app_a1" href="{{ proxy }}"><img class="img_app1" src="/static/hacker.png"><br>网页代理</a>
        <hr>
        <a class="div_app_a1" href="{% url 'tools:obelisk' %}?location={{ location }}&lang={{ lang }}"><img class="img_app1" src="/static/weini.jpg"><br>文本纵排</a>
    </div>
</div>
<div class="div0">
    <select class="select0" onchange=mbar(this)>
        <option value="{% url 'potato:index' %}?location={{ location }}&lang=lang_en">English</option>
        <option selected value="{% url 'potato:index' %}?location={{ location }}&lang=lang_zh-CN">中文(简体)</option>
        <option value="{% url 'potato:index' %}?location={{ location }}&lang=lang_zh-TW">中文(繁體)</option>
    </select>
</div>
<div class="bg-search-img">
    <div class="div1">
        <div class="search-conent">
            <br>
            <br>
            <div class="search-logo">
                <img class="img" src="/static/child.jpg"/>
            </div>
            <br>
            <br>
            <div class="search-btn">
                <form name="form1" action="/search/" method="get" onsubmit="return required()">
                    <input type="hidden" name="location" value="{{ location }}">
                    <input type="hidden" name="lang" value="{{ lang }}">
                    <input type="text" name="q" autofocus="autofocus" class="search-text"/><br><br>

                    <input type="submit" name="action" id="my_submit2" class="search-sub2" value="搜索"
                           onclick="return empty()"/>&nbsp;&nbsp;&nbsp;
                    <input type="submit" name="action" id="my_submit1" class="search-sub1" value="搜书"
                           onclick="return empty()"/>
                </form>
            </div>
        </div>
        <br>
        <br>
        <div class="msg">
            {{ msg | safe }}
        </div>
    </div>
    <br>
    <br>
    <div class="info">
        <small>Powered by <a class="a_doc"
                             href="{% url 'potato:doc' %}?location={{ location }}&lang={{ lang }}">Django</a></small>
        <br>
        <small>
            开发者: 青空锁云, sweetpotato
        </small>
        <br>
        <a href="https://google.littlepotato.life">
            <img src="/static/freedom_wings.jpg" alt="">
        </a>
    </div>
</div>
</body>
</html>
