@charset "UTF-8";

.div0 {
    float: right;
}

a:link {
    text-decoration: none;
    color: #1a0dab;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.a_info:link {
    text-decoration: none;
    color: #006621;
    text-align: center;
    font-size: 16px;
}

.a_info:visited {
    color: #006621;
    font-size: 16px;
}

.a_img {
    margin: 1%;
}

.a_img:hover {
    text-decoration: none;
}

.a3 {
    font-size: 20px;
}

.a3:visited {
    color: #609;
    font-size: 20px;
}

.select_page {
    font-size: 14px;
}

.a_page {
    font-size: 14px;
}

.a_page:link {
    color: #4285f4;
}

.a_page:visited {
    color: #4285f4;
}

.a_up {
    font-size: 14px;
}

.a_up:link {
    color: #4285f4;
}

.a_up:visited {
    color: #4285f4;
}

.a_down {
    font-size: 14px;
}

.a_down:link {
    color: #4285f4;
}

.a_down:visited {
    color: #4285f4;
}

.a_loff:link {
    color: #5f6368;
}

.a_loff:visited {
    color: #5f6368;
}

.a_lon:link {
    color: #5f6368;
}

.a_lon {
    color: #5f6368;
}

.img_potato {
    vertical-align: middle;
}

.li1 {
    list-style-type: none;
    margin-bottom: 30px;
}

.li2 {
    list-style-type: none;
}

.li3, .li4, .li5 {
    list-style-type: disc;
}

.form1 {
    margin: 0px;
    display: inline;
    margin-left: 1%;
}

.div1 {
    margin-bottom: 0;
    width: 100%;
}

.search-text {
    height: 15%;
    width: 45%;
    padding: 9px 7px;
    border: 1px solid #b8b8b8;
    outline: none;
    font-size: 16px;
    margin-right: 0px;
    border-radius: 1px;
}

.search-sub {
    height: 15%;
    width: 60px;
    background-color: #38f;
    border: none;
    padding: 1px;
    line-height: 38px;
    color: white;
    font-size: 16px;
    margin: 0px;
    border-radius: 2px;
}

.ul1 {
    margin-top: -10px;
    padding-top: 0px;
    width: 50%;
    margin-left: 8%;
}

.span1 {
    color: #3C4043;
    font-size: 14px;
    display: block;
    margin-top: 3px;
}

.span2 {
    color: orangered;
}

.span3, .span4 {
    color: #5f6368;
    font-size: 14px;
}

.br_vip {
    display: none;
}

body {
    height: 100%;
}

h4 {
    margin-top: 0;
    font-weight: normal;
}

.h4_wikipedia {
    font-size: 20px;
}

.div_info {
    border: 1px solid #DCDCDC;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px
}

.span5 {
    max-width: 77%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.span6 {
    max-width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: right;
    font-size: 14px;
}

.small_wikipeida {
    font-size: 14px;
}

.small_anon {
    font-size: 14px;
}

.small_info {
    color: dimgrey;
    font-size: 14px;
}

.small_url {
    float: right;
}

.select1 {
    color: green;
    width: 3%;
    float: left;
    border: 0;
    background: transparent;
    font-size: 16px;
}

.select1 select {
    border: 0;
    background: transparent;
}

.small_know {
    color: #5f6368;
}

.div_page {
    text-align: center;
}

@media screen and (max-device-width: 767px) {
    .span1 {
        margin-top: 5px;
    }
}

@media screen and (max-device-width: 500px) {
    .div0 {
        display: none; /* 手机下屏蔽此功能 */
    }

    a:link {
        color: blue;
    }

    .a_info:link {
        color: green;
        font-size: 12px;
    }

    .a_info:visited {
        color: green;
        font-size: 12px;
    }

    .a3 {
        font-size: 16px;
    }

    .a3:visited {
        font-size: 16px;
    }

    .a_up {
        display: none;
    }

    .a_down {
        display: none;
    }

    .img_potato {
        width: 15%;
        height: 15%;
    }

    .li1 {
        margin-bottom: 0;
    }

    .ul1 {
        width: 78%;
        margin-left: 0;
    }

    .span1 {
        margin-top: 0;
    }

    .span1 br {
        display: none; /* 手机下屏蔽后端发送过来的内容中的 <br> 以自动适配屏幕 */
    }

    .br_vip {
        display: block;
    }

    .h4_wikipedia {
        font-size: 16px;
    }

    .span5 {
        font-size: 12px;
    }

    .span6 {
        font-size: 12px;
    }

    .small_info {
        display: none; /* 手机下屏蔽此功能 */
    }

    .select1 {
        font-size: 12px;
    }
}

@media screen and (max-device-width: 413px) {
    .a3 {
        font-size: 16px;
    }

    .h4_wikipedia {
        font-size: 16px;
    }

    .span1 {
        font-size: 14px;
    }
}

@media screen and (max-device-width: 374px) {
    .a3 {
        font-size: 15px;
    }

    .span1 {
        font-size: 13px;
    }

    .span5, .span6, .select1 {
        font-size: 11px;
    }
}

@media screen and (max-device-width: 359px) {
    .a3 {
        font-size: 14px;
    }

    .span1 {
        font-size: 12px;
    }

    .span5, .span6, .select1 {
        font-size: 10px;
    }
}