@charset "UTF-8";

.div0 {
    float: right;
}

a:link {
    text-decoration: none;
    color: #1a0dab;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

.a_info:link {
    text-decoration: none;
    color: #006621;
    text-align: center;
    font-size: 16px;
}

.a_info:visited {
    color: #006621;
    font-size: 16px;
}

.a_img {
    margin: 1%;
}

.a_img:hover {
    text-decoration: none;
}

.a3 {
    font-size: 20px;
}

.a3:visited {
    color: #609;
    font-size: 20px;
}

.select_page {
    font-size: 16px;
}

.a_page {
    font-size: 14px;
}

.a_page:link {
    color: #4285f4;
}

.a_page:visited {
    color: #4285f4;
}

.a_up {
    font-size: 14px;
}

.a_up:link {
    color: #4285f4;
}

.a_up:visited {
    color: #4285f4;
}

.a_down {
    font-size: 14px;
}

.a_down:link {
    color: #4285f4;
}

.a_down:visited {
    color: #4285f4;
}

.img_potato {
    vertical-align: middle;
}

.li1 {
    list-style-type: none;
    margin-bottom: 30px;
}

.li2 {
    list-style-type: none;
}

.li3, .li4, .li5 {
    list-style-type: disc;
}

.form1 {
    margin: 0px;
    display: inline;
    margin-left: 1%;
}

.div1 {
    margin-bottom: 0;
    width: 100%;
}

.search-text {
    height: 15%;
    width: 45%;
    padding: 9px 7px;
    border: 1px solid #b8b8b8;
    outline: none;
    font-size: 16px;
    margin-right: 0px;
    border-radius: 1px;
}

.search-sub {
    height: 15%;
    width: 60px;
    background-color: #38f;
    border: none;
    padding: 1px;
    line-height: 38px;
    color: white;
    font-size: 16px;
    margin: 0px;
    border-radius: 2px;
}

.ul1 {
    margin-top: -10px;
    padding-top: 0px;
    width: 50%;
    margin-left: 8%;
}

.span1 {
    color: #3C4043;
    font-size: 14px;

}

.span2 {
    color: orangered;
}

.span3, .span4 {
    color: #5f6368;
    font-size: 14px;
}

.br_vip {
    display: none;
}

body {
    height: 100%;
}

h4 {
    margin-top: 0;
    font-weight: normal;
}

.h4_wikipedia {
    font-size: 20px;
}

.div_info {
    border: 1px solid #DCDCDC;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px
}

.span5 {
    max-width: 77%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

.span6 {
    max-width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: right;
    font-size: 14px;
}

.small_wikipeida {
    font-size: 14px;
}

.small_anon {
    font-size: 14px;
}

.small_info {
    color: dimgrey;
    font-size: 14px;
}

.small_url {
    float: right;
}

.select1 {
    color: green;
    width: 3%;
    float: left;
    border: 0;
    background: transparent;
}

.select1 select {
    border: 0;
    background: transparent;
}

.small_know {
    color: #5f6368;
}

.div_page {
    text-align: center;
}