<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="/static/css/detail.css">
    <script type="text/javascript" src="/static/js/action.js"></script>
</head>
<body>
<div class="div0">
    <select class="select0" onchange=mbar(this)>
        {% if lr == '' %}
            <option selected
                    value="{% url 'potato:search' %}?location={{ location }}&lang=en&q={{ q }}&page=1&action={{ action }}">
                Any Language
        {% else %}
            <option value="{% url 'potato:search' %}?location={{ location }}&lang=en&q={{ q }}&page=1&action={{ action }}">
                Any Language
            </option>
        {% endif %}
        {% if lr == 'lang_en' %}
            <option selected
                    value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_en&q={{ q }}&page=1&action={{ action }}">
                English
            </option>
        {% else %}
            <option value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_en&q={{ q }}&page=1&action={{ action }}">
                English
            </option>
        {% endif %}
        {% if lr == 'lang_ja' %}
            <option selected
                    value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_ja&q={{ q }}&page=1&action={{ action }}">
                Japanese
            </option>
        {% else %}
            <option value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_ja&q={{ q }}&page=1&action={{ action }}">
                Japanese
            </option>
        {% endif %}
        {% if lr == 'lang_ru' %}
            <option selected
                    value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_ru&q={{ q }}&page=1&action={{ action }}">
                Russian
            </option>
        {% else %}
            <option value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_ru&q={{ q }}&page=1&action={{ action }}">
                Russian
            </option>
        {% endif %}
        {% if lr == 'lang_es' %}
            <option selected
                    value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_es&q={{ q }}&page=1&action={{ action }}">
                Spanish
            </option>
        {% else %}
            <option value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_es&q={{ q }}&page=1&action={{ action }}">
                Spanish
            </option>
        {% endif %}
        {% if lr == 'lang_zh-CN' %}
            <option selected
                    value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_zh-CN&q={{ q }}&page=1&action={{ action }}">
                Chinese(Simplified)
            </option>
        {% else %}
            <option value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_zh-CN&q={{ q }}&page=1&action={{ action }}">
                Chinese(Simplified)
            </option>
        {% endif %}
        {% if lr == 'lang_zh-TW' %}
            <option selected
                    value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_zh-TW&q={{ q }}&page=1&action={{ action }}">
                Chinese(Traditional)
            </option>
        {% else %}
            <option value="{% url 'potato:search' %}?location={{ location }}&lang=en&lr=lang_zh-TW&q={{ q }}&page=1&action={{ action }}">
                Chinese(Traditional)
            </option>
        {% endif %}
    </select>
</div>
<div class="div1">
    <a class="a_img" href="{% url 'potato:index' %}?location={{ location }}&lang={{ lang }}&lr={{ lr }}">
        <img src="/static/detail.jpg" alt="" class="img_potato">
    </a>
    <form name="form1" action="/search/" method="get" class="form1" onsubmit="return required()">
        <input type="hidden" name="location" value="{{ location }}">
        <input type="hidden" name="lang" value="{{ lang }}">
        <input type="hidden" name="lr" value="{{ lr }}">
        <input type="text" name="q" value="{{ q }}" class="search-text" id="input1"/>
        &nbsp;
        {% if action == 'search' %}
            <input type="submit" name="action" class="search-sub" value="Search"/>
        {% else %}
            <input type="submit" name="action" class="search-sub" value="Library"/>
        {% endif %}
    </form>
</div>
<ul class="ul1">
    {% if results %}
        {% if page == 1 %}
            <small class="small_info">About {{ results }} results ({{ time }} seconds)</small>
            {% if book %}
                <small class="small_url"><i><a class="a1" href="http://gen.lib.rus.ec/search.php?req={{ q }}">Search on
                    Library
                    Genesis</a></i></small>
            {% endif %}
        {% else %}
            <small class="small_info"> Page {{ page }} of about {{ results }} results ({{ time }} seconds)</small>
        {% endif %}
    {% endif %}
    <br>
    <br>
    {% if title and page == 1 %}
        <div class="div_info">
            <h4 class="h4_wikipedia">{{ title }}</h4>
            <small class="small_wikipeida">{{ text }}<a href="https://zh.wikipedia.org/zh-cn/{{ title }}">Wikipedia</a>
            </small>
        </div>
        <br>
    {% endif %}
    {% for x, y, z in content %}
        <li class="li1">
            <a class="a3" href="{{ y }}">{{ x }}</a>
            <br>
            <small>
                <span class="span5">
                    <a class="a_info" href="{{ y }}">{{ y }}</a>
                </span>
                <select class="select1" name="select" id="select" onchange=mbar(this)>
                    <option selected></option>
                    <option value="{{ proxy }}https://webcache.googleusercontent.com/search?q=cache:{{ y }}">
                        Cached
                    </option>
                </select>
                <span class="span6"><a href="{{ proxy }}{{ y }}">Anonymous View</a></span>
            </small>
            <br>
            <span class="span1">
                    {{ z | safe }}
            </span>
        </li>
        <br class="br_vip">
    {% empty %}
        <li class="li2">Your search - <span class="span2">{{ q }}</span> - did not match any documents.</li>
        <br>
        Suggestions:
        <br>
        <ul>
            <li class="li3">Make sure all words are spelled correctly.</li>
            <li class="li4">Try different keywords.</li>
            <li class="li5">Try more general keywords.</li>
        </ul>
        <div style="position: fixed; bottom: 20px; width: 50%;">
            <hr>
            🌎&nbsp;
            <small class="small_anon">
                {% if ip %}
                    {{ address }}
                    <span class="span3"> - From your Internet address - <a class="a_lon"
                                                                           href="https://www.ipip.net/ip.html">{{ ip }}</a> - <a
                            class="a_lon" href="?location=off&lang={{ lang }}&lr={{ lr }}&q={{ q }}&page={{ page }}&action={{ action }}">Location Service off</a></span>
                {% else %}
                    Unable to get Location
                    <span class="span4"> - Location Service is disabled - <a class="a_loff"
                                                                             href="?location=on&lang={{ lang }}&lr={{ lr }}&q={{ q }}&page={{ page }}&action={{ action }}">Location Service on</a></span>
                {% endif %}
            </small>
        </div>
    {% endfor %}
    <br>
    {% if not empty %}
        <div class="div_page">
            {% if page != 1 %}
                <a class="a_up"
                   href="?location={{ location }}&lang={{ lang }}&lr={{ lr }}&q={{ q }}&page={{ page|add:-1 }}&action={{ action }}">
                    Previous</a>&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
            {% for page_number in  pages %}
                {% if page_number == page %}
                    <span class="select_page">{{ page_number }}</span>
                    &nbsp;
                {% else %}
                    <a class="a_page"
                       href="?location={{ location }}&lang={{ lang }}&lr={{ lr }}&q={{ q }}&page={{ page_number }}&action={{ action }}">{{ page_number }}</a>
                    &nbsp;
                {% endif %}
            {% endfor %}
            {% if page != pages|last %}
                &nbsp;&nbsp;&nbsp;<a class="a_down"
                                     href="?location={{ location }}&lang={{ lang }}&lr={{ lr }}&q={{ q }}&page={{ page|add:1 }}&action={{ action }}">Next</a>
            {% endif %}
            <br>
            <br>
        </div>
        <br>
        <div>
            <hr>
            🌎&nbsp;
            <small class="small_anon">
                {% if ip %}
                    {{ address }}
                    <span class="span3"> - From your Internet address - <a class="a_lon"
                                                                           href="https://www.ipip.net/ip.html">{{ ip }}</a> - <a
                            class="a_lon" href="?location=off&lang={{ lang }}&lr={{ lr }}&q={{ q }}&page={{ page }}&action={{ action }}">Location Service off</a></span>
                {% else %}
                    Unable to get Location
                    <span class="span4"> - Location Service is disabled - <a class="a_loff"
                                                                             href="?location=on&lang={{ lang }}&lr={{ lr }}&q={{ q }}&page={{ page }}&action={{ action }}">Location Service on</a></span>
                {% endif %}
            </small>
        </div>
    {% endif %}
</ul>
</body>
</html>
